.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: rgb(104, 19, 201); */
    padding: 10px;
    grid-column-gap: 0px;
    width:20px;
  }
  .grid-item {
    background-color: rgba(192, 13, 13, 0.8);
    border: 1px solid rgba(34, 8, 8, 0.8);
    padding: 20px;
    font-size: 70px;
    text-align: center;
  }
  input[type="button"], input[type="submit"], button
{

    
    border-radius:3px;
    display: inline-block;
    line-height: 22px;
    padding:7px 12px;
    margin:0;
    border: 1px solid #6c0f88; 
    color:rgb(19, 29, 19);
    background-color:white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    cursor:pointer;
    width: 50px;
    height: 50px;
}