<h1>Driver</h1>
<!-- <div class="row" *ngFor='let pro of profile '></div> -->


<!-- 
<div class="content"  >
  <div class="container-fluid">
    <div class="row" *ngFor='let pro of profile '>
      <div class="col-md-3 offset-md-3">
        <!-- <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Edit Profile</h4>
            <p class="category">Complete your profile</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group label-floating">
                    <label class="control-label">Company (disabled)</label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group label-floating">
                    <label class="control-label">Email address</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Fist Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group label-floating">
                    <label class="control-label">Adress</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group label-floating">
                    <label class="control-label">City</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group label-floating">
                    <label class="control-label">Country</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group label-floating">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group label-floating">
                      <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>     </div>
      <div class="col-md-6 offset-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="content">
            <h6 class="category text-gray"></h6>
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-content">
              {{pro.Address}}
            </p>
            <p class="card-content">
              {{pro.Cnic}}
            </p>
            <p class="card-content">
              {{pro.ContactNo}}
            </p>
            <p class="card-content">
              {{pro.Experience}}
            </p>
            <p class="card-content">
              {{pro.LicenseNo}}
            </p>

            <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->

    <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Duty</h4>
            <p class="category">Today Duty</p>
          </div>
          <div class="card-content">
            
              <div class="row">
                <div class="col-md-5">
                  <ul>
                    <li *ngFor ="let d of duty ">
                      
                      {{d.driver_name}}
                      {{d.train_name}}
                      
                    </li>
                  </ul> 
                  <hr>
                  <ul>
                    <li *ngFor ="let t of today |async ">
                      {{t.id}}
                      {{t.train_id}}
                      {{t.date}}
                      {{t.trainroute_id}}
                      
                    </li>
                  </ul>
                  <hr>

                </div>
              </div>  
          </div>      