<!------ Include the above in your HEAD tag ---------->
<!-- <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
        <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto" href="#">Gra<span>freez</span></a>
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        <ul class="navbar-nav ml-auto">
         <li class="nav-item active"> <a class="nav-link" >Home </a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="about">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#blog">Blog</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#gallery">Image Gallery</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#contact">Contact</a> </li>
        </ul>
      </div>
            </div>
    </nav> -->

<!-- Swiper Silder
    ================================================== --> 
<!-- Slider main container -->
<div  class="swiper-container main-slider" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" style="background:url('../../../assets/railway_image_2.jpg')" data-hash="slide1">
      <h2>Pakistan Railway<br><span style="font-size: 30px;">sustainibilty on track</span></h2>
      
    </div>
    <!-- <div class="swiper-slide slider-bg-position" style="background:url('../../../assets/railway_image_2.jpg')" data-hash="slide1">
      <h2>It is health that is real wealth and not pieces of gold and silver</h2>
    </div>
    <div class="swiper-slide slider-bg-position" style="background:url('../../../assets/railway_image_3.jpg')" data-hash="slide1">
      <h2>It is health that is real wealth and not pieces of gold and silver</h2>
    </div>
    <div class="swiper-slide slider-bg-position" style="background:url('../../../assets/railway_image_4.jpg')" data-hash="slide1">
      <h2>It is health that is real wealth and not pieces of gold and silver</h2>
    </div>
    <div class="swiper-slide slider-bg-position" style="background:url('../../../assets/railway_image_5.jpg')" data-hash="slide1">
      <h2>It is health that is real wealth and not pieces of gold and silver</h2>
    </div>
    <div class="swiper-slide slider-bg-position" style="background:url('../../../assets/railway_image_7.jpg')" data-hash="slide1">
      <h2>It is health that is real wealth and not pieces of gold and silver</h2>
    </div> -->
    <div class="swiper-slide slider-bg-position" style="background:url('../../../assets/railway_image_1.jpg')" data-hash="slide1">
      <p style="
       font-size: 28px; 
       font-family:'Courier New', Courier, monospace;
       text-align: left;
       color: white;
       ">Railway network will support efforts to diversify the economy and enhance our export potentials.</p>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  Add Navigation
  <!-- <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
  <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div> -->
</div>



<section style="background-repeat: no-repeat;
background-attachment: fixed;" class="business-header bg-overlay ">
  <div class="container">
      <div class="row" >
          <div class="col-lg-12  text-center">
      </div>
      </div>
  </div>
</section>





<!-- Benefits
    ================================================== -->
<section class="service-sec" id="benefits">
  <div class="container">
    <div class="row" style="background:rgba(0, 0, 0, 0.644)">
     
            <div class="heading col-md-12">
      <h2>To enjoy the glow of good health, you must exercise</h2>
    
        </div>
      
            <div class=" heading col-md-6"> 
          <h3>Better Sleep</h3>
          <p style="color: white; font-size: 25px; line-height: 45px;">We Are the company of the Employees by the Employees for our customer first and Employee and stakeholder Second.Pakistan Railways forms the life line of the country by catering to its needs for large scale movement of freight as well as passenger traffic. It not only contributes to its economic growth but also promotes national integration.Pakistan Railways provides an important mode of Transportation in the farthest corners of the country and brings them closer for Business, sightseeing, pilgrimage and education. It has been a great integrating force and forms the life line of the country by catering to its needs for large scale movement of people and freight.</p>
        
        </div>
      </div>
    </div>
    <!-- /.row --> 

  </section>

